.container {
  text-align: center;
}

.main1 {
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: 15px;
  padding: 20px;
}
.main {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  flex-wrap: wrap;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.card {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card_content {
  padding: 15px;
}

.card_title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card_detail {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

.more_info {
  display: none;
  margin-top: 10px;
}

.show_more {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.show_more button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn{
color:white;
background:transparent;
  border-radius: 10px;
  padding:4px;
  cursor:pointer;
  border:2px solid white;
}
.show_more button:hover {
  background-color: #005bb5;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
}
